<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blurred-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1611F6626253E5500DA84BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1611F762626609500DA84BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1611F962626631400DA84BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DF6F65244F550300E11BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DF6F80244F550600E11BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DF6F8B244F550700E11BF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
